.fs-7 {
    font-size: .85em;
}
.bg-outline-success {
    border: 1px solid #198754;
    color: #198754;
}
.bg-outline-warning {
    border: 1px solid #ffc107;
    color: #ffc107;
}

/* #topbar {
    width: 100%;
    position: fixed;
    z-index: 1000;
} */
#topbar .app-title {
    font-size: 19px;
}
#topbar .badge-profile {
    display: inline-block;
    text-align: center;
    background: #2329463d;
    border-radius: 50%;
    padding: 7px;
    width: 40px;
}
#topbar .navbar-profile {
    background:rgb(251, 250, 255);
}
.navbar .nav-item img {
    width: 21px;
}
.navbar .nav-item span {
    vertical-align: text-top;
}
.dropdown-menu li.info {
    padding: 0.25rem 1rem;
    border-bottom: 1px solid #efefef !important;
}

main {
    /* padding-top: 9rem; */
    margin-top:2rem;
}

/* MAP */
#map { 
    position: relative;
    width:100%;
    height: 380px; 
    border-radius: 4px;
}

.border-flat {
    border-radius: 5px;
}


/* Statistic */
#statistic .value {
    font-size: 3rem;
}

#statistic .value sup {
    font-size: 1.5rem;
    vertical-align: middle;
}

#statistic .loader {
    position: absolute;
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #aaa;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 0.6s linear infinite; /* Safari */
    animation: spin 0.6s linear infinite;
    display: none;
}

#statistic .loader.active {
    display: block;
}
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Device Information */
#device-information img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition:.7s;
}

#device-information img:hover {
    object-fit: contain;
}

.btn-link {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: 0;
    text-decoration: underline;
}

.btn-link:hover {
    color: #0a58ca;
}