form label:not(.form-check-label) {
    font-size: 14px;
    font-weight: 700 !important;
}
form label.form-check-label {
    font-size: 13px;
    vertical-align: text-bottom;
}
form input:not(.form-check-input),
form textarea {
    font-size: 14px !important;  
    border-radius: 0.35rem !important;
}
form input:focus,
form textarea:focus {
    background-color: #fff;
    border-color: #aaa !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(153 156 162 / 25%) !important;
}
form input::placeholder,
form textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #99a1aa !important;
    opacity: 1; /* Firefox */
}

form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #99a1aa !important;
}

form input::-ms-input-placeholder { /* Microsoft Edge */
    color: #99a1aa !important;
}

form button {
    font-size: 15px !important;
    border-radius: 0.40rem !important;
}